<app-header></app-header>
<div class="divbackground pb-5">
  <div class="container px-0">
    <div class="decision-header  pt-5 pb-4">
      <img src="../../assets/Icon_decisions_page.svg" alt="decision-logo" />
      DECISION
    </div>
    <div class="box-shadow">
      <div class="row">
        <div class="col-3 m-2 row-align">
          <label for="fil" class="filter mx-3 font-size-l">Filter by Address IP</label>
          <input type="text" id="fil" class="form-control" style="width: 40%; padding: 4px"
            (input)="doFilter($event, pTable)" />
          <!-- <select >
          <option value="Default">Default</option>
        </select> -->
        </div>
        <div class="col-3 m-2 row-align">
          <label for="fil" class="filter mx-3 font-size-l">Number of pages</label>
          <select [(ngModel)]="noOfPages" (ngModelChange)="noOfPagesChange()" style="width:auto" class="form-select">
            <option *ngFor="let in of counter(noOfPagesLength); let i = index" [value]="i + 1"> {{ i + 1 }}
            </option>
          </select>
        </div>
      </div>
      <p-table #pTable [value]="decisions" styleClass=" p-datatable-striped" [paginator]="true" [rows]="30"
        responsiveLayout="scroll" [(first)]="first" (onPage)="paginate($event)">
        <ng-template pTemplate="header">
          <tr class="headerstyle">
            <th class="textstyle w--30">Address IP</th>
            <th class="textstyle w--10">Ports</th>
            <th class="textstyle w--40">Rule name</th>
            <th class="textstyle">Decisions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-decisions class="bodyStyle" let-index="rowIndex">
          <tr class="row-bg">
            <td>{{ decisions.ip_address}}</td>
            <td>{{ decisions.port }}</td>
            <td>{{ decisions.rule_name.rule_name }}</td>
            <td>{{ decisions.decision }}</td>
          </tr>

        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr class="row-bg">
            <td colspan="4" class="w-100" style="text-align: center;">
              <span style="padding-left: 5%;">No data available for the filter value</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>