<div class="error-page d-flex">
    <div>
        <div class="mb-2 mt-4">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="rulePage()">
                Go to Rule Page
            </button>
        </div>
        <div class="mb-3">
            <strong>404.</strong><span>That's an error</span>
        </div>
        <div>
            <div>
                The requested URL /error was not found on this server.
            </div>
            <div>
                That’s all we know.
            </div>
        </div>
    </div>
    <div>
        <img class="bg-color" src="assets/robot.png" />
    </div>
</div>