.text-color {
    color: #0085CA;
}

.sub-head {
    color: #0085CA;
    font: 18px;
    /*font: normal normal medium 18px/24px ClanOT;*/
}

.inputboxcolor {
    background: #DBDBDB;

}

.font-size-l {
    font-size: 22px;
    font-weight: bold;
}

.font-size-m {
    font-size: 18px;
}

.box-shadow {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
    padding: 16px 18px;
}